.ndpl-page pre code,
.ndpl-component__description pre code,
.ndpl-component__code .ndpl-code{
  opacity: 1;
}

/* Button Styling - START */
.btn{
  display: inline-block;
  padding:1em;
  background-color: black;
  border:1px solid;
  color:white;
  text-align: center;
  text-decoration: none;
}

.btn:hover{
  filter: invert(100%);
}

.btn.invert{
filter: invert(100%);
}
.btn.invert:hover{
filter: invert(0%);
}

.btn.disabled{
  background-color: #ccc;
  pointer-events: none;
  color: black;
}

.btn.icon > i {
    padding-right: .5em;
    border-right: 2px solid white;
    margin-right: .5em;
    font-size: 1.25em;
}

.btn.rounded{
  border-radius: 25px;
}

.btn.fullwidth{
  display: block;
}
/* Button Styling - END */

/*Navigation Styling - START*/
.nav{
  display: block;
  width: 100%;
  background-color: white;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
}

ul.menu {
    margin: 0;
    display: block;
    padding: 0;
    margin-bottom: -1px;
}

li.menu-item, li.menu-item > a{
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  color: black;
}

li.menu-item:hover, li.menu-item:hover a ,li.menu-item.active, li.menu-item.active a{
   background: black;
   color: white;
}

/*Dark Version white on black*/

.darknav{
  background: black;
}

.darknav li.menu-item, .darknav li.menu-item>a {
    color: white;
}

.darknav li.menu-item:hover,
.darknav li.menu-item:hover a,
.darknav li.menu-item.active,
.darknav li.menu-item.active a{
   background: white;
   color: black;
}

/*Navigation Styling - END*/

/*Header Element - START*/
.header{
  height:100%;
  padding:1em;
  background-image: url("/app/img/dark-1845685_1280.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 4em 2em;
}

.header .lead{
  font-size: 1.5em;
  text-align: center;
}


/*Header Element - END*/

/*Footer Element - START*/
footer {
    background-color: black;
    color: white;
    font-size: 1.25em;
    text-align: center;
    padding: 1em;
}

footer .footer-social-icons > i {
    font-size: 2em;
    margin: 0 .5em;
}

footer .footer-small-text {
    font-weight: bolder;
    letter-spacing: 0.4rem;
    border-bottom: 1px solid white;
    padding-bottom: 1em;
}

/*Footer Element - END*/


    .jumbotron{
      display: block;
      padding:3em 2em;
      background-color: rgba(0, 0, 0, 0.25);
    }
