.btn{
  display: inline-block;
  padding:1em;
  background-color: #0074D9;
  color:white;
  text-align: center;
  text-decoration: none;
}


.btn:hover{
  background-color: #6798c3;
}


.btn.invert{
filter: invert(100%);
}
